#headerContainer {
  /* border: 2px solid #933530; */
  /* background-image: url('../img/ciudadSliderPrincipal.jpg');  */
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
  /* Oscurece la solo la imagen. */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../img/ciy-night.jpg");
}

#headerContainer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  max-width: 150px;
  /* Ajusta este valor según necesites */
  height: auto;
}

#iconosRedesSocialesHeader a img {
  width: 30px;
  height: 30px;
  /* border: 3px solid rgb(238, 242, 243); */
  margin-top: 10px;
  margin-bottom: 10px;
}

#tituloPrincipal {
  color: white;
}

#descripcionTitulo {
  color: white;
  /* font-weight: bold; */
}

#habilidadesContainer {
  background-color: #933530;
}

#habilidadesContainer h2 {
  color: white;
  padding-top: 15px;
  padding-bottom: 5px;
}

#habilidadesContainer p {
  color: white;
}

/* Estilos para los enlaces del navbar */
.navbar a {
  color: white !important;
  /* Mantiene el texto en blanco. Con important se Sobrescribe cualquier estilo de Bootstrap que pueda estar aplicándose por defecto. */
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  /* Añade espacio alrededor del texto para hacer el efecto más visible */
  border-radius: 5px;
  /* Bordes redondeados para que se vea mejor */
  transition: background-color 0.3s ease-in-out;
  /* Agrega una transición suave */
}

/* Cambia el fondo y mantiene el texto en blanco cuando pasas el mouse */
.navbar a:hover {
  background-color: #933530 !important;
  /* Color de fondo en hover */
  color: white !important;
  /* Asegura que el texto siga siendo blanco */
}

.container-fluid {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*CARDS RUTAS*/

.card-text {
  white-space: normal;
  /* Evita que el texto se desborde */
  word-wrap: break-word;
  overflow: hidden;
}

/*Para modificar el tamaño de las card de rutas*/
.mi-card {
  max-width: 450px;
  /* Ajusta según necesites */
  height: auto;
  /* Mantiene la proporción */
}

/*Para modificar el tamaño de la imagen de las card de rutas*/
.mi-card-img-top {
  height: 350px;
  /* Ajusta según necesites */
  object-fit: cover;
  /* Recorta la imagen si es necesario */
}

/*Para modificar el texto de las card rutas*/
.card-title-link {
  text-decoration: none;
  /* Quita el subrayado */
  color: inherit;
  /* Usa el color por defecto del texto */
}

.card-title-link:hover {
  color: #933530;
  /* Color al pasar el mouse */
}

/*ICONOS FOOTER*/
.social-icon img {
  width: 40px;
  /* Tamaño*/
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.social-icon img:hover {
  transform: scale(1.2);
  /* Efecto de zoom al pasar el mouse */
}

.fondo-subtitulo {
  background-color: rgba(151, 150, 150, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.imagen-circular {
  width: 100%;
  height: auto;
  max-width: 300px;
  /* tamaño mediano */
  aspect-ratio: 1 / 1;
  /* asegura que sea un cuadrado */
  object-fit: cover;
  /* para cubrir el área sin deformarse */
  border-radius: 50%;
  /* para hacerlo circular */
  display: block;
  margin: 2rem auto 0 auto;
  /* centra la imagen horizontalmente y da margen superior */
  margin-bottom: 50px;
}

.efecto-flotante {
  transition: transform 0.3s ease-in-out; /* transiciones suaves */
}

.efecto-flotante:hover {
  transform: translateY(-20px); /* mueve la imagen hacia arriba 10px */
}

.btn-habilidades {
  width: 150px;
  background-color: #6c757d !important; /* o el color que tú quieras */
  border-color: #6c757d !important; /* para que coincida el borde */
}

.separacion{
    margin-bottom: 20px !important;
}

.fila-progreso {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.etiqueta {
  width: 100px; /* Ajusta según el texto */
  margin-right: 10px;
  font-weight: bold;
}

.barra-contenedor {
  flex-grow: 1;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  height: 30px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.barra-progreso {
  height: 100%;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  transition: width 0.5s ease-in-out;
}

#html{
    width: 55%;
    background-color: rgb(216, 74, 9);
}

#js{
    width: 65%;
    background-color: rgb(204, 204, 80);
}

#css{
    width: 50%;
    background-color: rgb(54, 43, 151);
}

#laravel{
    width: 60%;
    background-color: rgb(47, 58, 206);
}

#java{
    width: 50%;
    background-color: #933530;
}

#sql{
    width: 50%;
    background-color: rgb(24, 6, 180);
}

#php{
    width: 50%;
    background-color: rgb(54, 43, 151);
}

.logo-sitio{
    width: 33px !important;
}

.borde-btn{
    border-radius: 19px !important;
}

.borde-btn:hover{
    color: #6c757d !important;
    background-color: white !important;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInLeft 1s ease-out forwards;
}
