/* Estilos para la mini pantalla del mapa */
.map-container {
    width: 100%;
    max-width: 600px;
    /* Ajusta el tamaño de la mini pantalla */
    height: 350px;
    border: 3px solid #933530;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    margin: auto;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/* Estilos para los enlaces del navbar */
.navbar a {
    color: white !important;
    /* Mantiene el texto en blanco. Con important se Sobrescribe cualquier estilo de Bootstrap que pueda estar aplicándose por defecto. */
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    /* Añade espacio alrededor del texto para hacer el efecto más visible */
    border-radius: 5px;
    /* Bordes redondeados para que se vea mejor */
    transition: background-color 0.3s ease-in-out;
    /* Agrega una transición suave */
}

/* Cambia el fondo y mantiene el texto en blanco cuando pasas el mouse */
.navbar a:hover {
    background-color: white !important;
    /* Color de fondo en hover */
    color: #933530 !important;
    /* Asegura que el texto siga siendo blanco */
}