/*Color principal Kawari*/
.principal{
    background-color: #933530;
}

/*Texto blanco Kawari*/
.textoblanco{
    color: white;
}

/*Texto negro Kawari*/
.textonegro{
    color:black;
}

.pt-10{
    padding: 3rem;
}

/*Color secundario rosa Kawari*/
.rosa{
    background-color: #E0AFA0;
}

.custom-card {
    width: 300px;
    height: 200px;
  }

/*Color secundario gris Kawari*/
.colorrutas{
    background-color: #988D8A;
}

